:root {
  --text-color: #1e1e1e;
  --headerFooter-bg: #a89bc5;
  --main-bg: #f9f7fc;
  --button-bg: #2c1e3f;
}

body {
  color: var(--text-color);
  background-color: var(--main-bg);
  margin: 0;
  padding: 0;
  font-family: system-ui, sans-serif;
}
.grid-container {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto 1fr auto;
  grid-template-areas:
    "header"
    "main"
    "footer";
}

/* Début header */
/* Positionnement du header, séparation du logo et du menu */
header {
  grid-area: header;
  width: 100%;
  background-color: var(--headerFooter-bg);
  padding: 0;
  margin: 0;
}
.header-container {
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  align-items: center;
  box-sizing: border-box;
  max-width: 1500px;
  margin: 0 auto;
  padding: 0 5%;
}

h1 {
  font-size: 2.125rem;
  margin: 0;
  padding: 1rem;
  text-align: center;
  color: var(--button-bg);
}
/* Allignement de la nav */
.menu {
  display: flex;
  flex-direction: row;
}
.btnMenu {
  display: flex;
  flex-direction: row;
  align-items: center;
  border-radius: 32px;
  border: 0.5px var(--main-bg) solid;
  padding: 0.5em;
  background-color: transparent;
}
/* dimension des logos */
header img {
  width: 120px;
  height: 120px;
}
.menu img {
  width: 40px;
  height: 40px;
  display: block;
}
.btnMenu img {
  width: 40px;
  height: 40px;
  display: block;
}
/* small devices: max 600px */
@media only screen and (max-width: 700px) {
  .header-container {
    padding: 0 0.4em;
  }
  header img {
    width: 70px;
    height: 70px;
  }
  .menu img {
    width: 30px;
    height: 30px;
  }
  h1 {
    font-size: 1rem;
    padding: 0.3rem;
  }
}

/* Menu déroulant */
ul {
  background-color: var(--main-bg);
  display: none;
  position: absolute;
  list-style: none;
  margin: 0;
  padding: 6px;
  border-radius: 8px;
}

/* Fin menscreenu déroulant */
/* Fin header */

/* Début search */
.search {
  align-items: center;
  background-color: var(--headerFooter-bg);
  margin: 0 auto;
  padding: 0;
  width: 100%;
  max-width: 1500px;
}

.search-form {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 1em 0;
  width: 100%;
  max-width: 1500px;
  background-color: var(--search-bg);
  text-decoration: none;
  box-sizing: border-box;
  border-radius: 32px;
}
.field-container {
  display: flex;
  justify-content: space-around;
  background-color: var(--main-bg);
  margin: 0 10px 0 10%;
  padding: 1em;
  border-radius: 32px;
  width: 100%;
  box-sizing: border-box;
}
/* Espacement label et input */
.field-container label input {
  margin-left: 3px;
  border: #424b78 1px solid;
  border-radius: 32px;
  padding: 5px;
}
/* Bouton search */
.search-form button {
  margin: 0 10% 0 0;
  border-radius: 50%;
  padding: 1rem;
  border: none;
  background-color: var(--button-bg);
}

@media (max-width: 700px) {
  .search-form {
    padding: 0 0 0.5em 0;
  }
  .field-container label {
    display: none;
  }
  .search-form button {
    padding: 0.6em;
  }

  .search-form button svg {
    height: 15px;
    width: 15px;
  }
}
/* fin search */

/* Début main */
main {
  grid-area: main;
  background-color: var(--main-bg);
}
.destination {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 1.25em;
  margin: 0 auto;
  padding: 1em 5%;
  width: 100%;
  max-width: 1500px;
  box-sizing: border-box;
}
h2 {
  padding: 0;
  margin: 0 0 0.5em 0;
}
.destination p {
  margin: 0;
}

.destination-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 1em;
  border-top: #424b78 1.5px solid;
  width: 100%;
  margin: 0;
  padding: 1em;
  box-sizing: border-box;
}

.destination-container figure {
  margin: 0;
}
/* Taille des images */
.destination-container figure img {
  max-width: 100%;
  border-radius: 84px;
  height: 300px;
  width: 100%;
  object-fit: cover;
}
.destination-container figure a {
  text-decoration: none;
  color: #424b78;
  font-size: 1.25rem;
  text-align: center;
}

/* small devices: max 600px */
@media (max-width: 700px) {
  h2 {
    font-size: 1rem;
  }
  .destination {
    padding: 0.5em 5%;
  }
  .destination-container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    padding: 0.8em;
  }
  .destination-container figure a {
    font-size: 1rem;
  }
}

/* small devices: max 600px */
@media (min-width: 700px) and (max-width: 1200px) {
  h2 {
    font-size: 1.7rem;
  }
  .destination-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  .destination-container figure a {
    font-size: 1.1rem;
  }
}

/* fin main */

/* Début footer */
/* Mise en page*/
footer {
  grid-area: footer;
  background-color: var(--headerFooter-bg);
  color: rgb(245, 245, 245);
  font-size: 16px;
  font-weight: 450;
}
.footer-container {
  display: flex;
  flex-direction: column;
  gap: 5px;
  width: 100%;
  max-width: 1500px;
  margin: 0 auto;
  padding: 1em 5%;
}

/* Row social media */
.social-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 5px 1em;
  align-items: center;
}

/* Allignement des icones social media */
.social-media {
  display: flex;
  gap: 5px;
}

/* small devices: max 600px */
@media only screen and (max-width: 600px) {
  footer {
    padding: 0.3em 5%;
  }
  .social-container {
    flex-direction: column;
    align-items: center;
    gap: 0.3em;
    padding: 0.2em;
  }
  .social-media {
    align-items: center;
  }
}

/* Newsletter */
.newsletter {
  align-self: flex-end;
}

/* small devices: max 600px */
@media only screen and (max-width: 600px) {
  .newsletter {
    display: none;
  }
}

/* email */
::placeholder {
  color: #424b78;
  font-weight: 400;
  font-size: 14px;
  margin-left: 1em;
}
/* bouton */
.newsletter form input {
  background-color: #424b78;
  color: #ffffff;
  border: 1px white solid;
  border-radius: 32px;
}

/* Menu horizontal */
.about {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding: 1em 10em;
  border-top: #f4f4f4 0.5px solid;
}
.about a {
  text-decoration: none;
  color: rgb(245, 245, 245);
}
/* small devices: max 600px */
@media only screen and (max-width: 600px) {
  .about {
    flex-direction: column;
    padding: 0.3em 0;
  }
}

/* Crédits pied de page */
.credits {
  align-self: center;
  padding: 0;
  margin: 0;
}
.credits p {
  margin: 5px 0;
  font-size: 12px;
}

/* Page destinations */

/* Début main */
.trip {
  display: flex;
  flex-direction: column;
  text-align: center;
  font-size: 1.25em;
  width: 100%;
  max-width: 1500px;
  margin: auto;
  padding: 5px 1em;
  box-sizing: border-box;
}

.trip-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 1em;
  row-gap: 1em;
  padding: 0;
  align-self: center;
}
.card {
  border-radius: 84px;
}
.trip-container .card a {
  text-decoration: none;
  text-align: center;
  font-size: 1.2rem;
  color: var(--text-color);
}

.trip-container .card img {
  border-radius: 84px;
  height: 300px;
  width: 100%;
  object-fit: cover;
}
.trip-container .card p {
  margin: 0.1em 0 0 0;
}

@media (max-width: 700px) {
  .trip h2 {
    font-size: 1.25rem;
    margin-top: 0.2em;
  }
  .trip-container {
    display: grid;
    grid-template-columns: 1fr;
    row-gap: 1.5em;
    margin: 0 3%;
  }
  .trip-container .card p {
    font-size: 1rem;
  }
}
@media (min-width: 700px) and (max-width: 900px) {
  .trip-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 1.25em;
    row-gap: 1.5em;
  }
}

/* Page blog */
.trip {
  padding: 1em 0 1.5em 0;
}
.blog-container {
  display: flex;
  flex-direction: column;
  row-gap: 1em;
  margin-top: 1em;
}
.blog-item {
  display: flex;
  flex-direction: row;
  column-gap: 5em;
  border-bottom: 1px solid rgb(221, 223, 226);
  padding-bottom: 1em;
}

.blog-image {
  border-radius: 84px;
  height: 300px;
  width: 100%;
  object-fit: cover;
  max-width: 40%;
}

.blog-text {
  max-width: 40%;
}

.blog-text h3 {
  text-align: left;
}

.blog-text p {
  font-size: 1rem;
  text-align: left;
}

@media (max-width: 700px) {
  .blog-container {
    row-gap: 1em;
  }
  .blog-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 0.1em;
    margin: 0 3%;
  }
  .blog-image {
    height: 250px;
    max-width: 80%;
  }
  .blog-text {
    max-width: 80%;
  }
  .blog-text h3 {
    text-align: center;
    font-size: 1.1rem;
  }

  .blog-text p {
    text-align: center;
    font-size: 1rem;
  }
}
